<div class="container">
  <div class="row">
    <form action=""
          class="col-12">
      <div class="form-group"
           class="col-6">
        <label class="d-flex flex-column"
               for="serverName">
          Server Name:
          <input type="text"
                 name="serverName"
                 id="servername"
                 #serverName>
        </label>
      </div>
      <div class="form-group"
           class="col-6">
        <label class="d-flex flex-column"
               for="serverDesc">
          Server Description
          <input type="text"
                 name="serverDesc"
                 id="serverDesc"
                 #serverDesc>
        </label>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="button-group">
      <button class="btn btn-primary mr-5"
              (click)="OnAddServer()">
        Add Server
      </button>
      <button class="btn btn-primary mr-5"
              (click)="OnAddBluePrint()">
        Add Server Blueprint
      </button>
    </div>
  </div>
</div>
