<a style="cursor: pointer;"
   class="d-lg-flex text-dark list-group-item"
   [routerLink]="[recipe.id]"
   routerLinkActive="active">
  <div class="col-9"
       float-left>
    <h4 class="mb-1 list-item-heading"> {{recipe.name}} </h4>
    <p class="list-item-descriptinon mb-1"> {{recipe.description}} </p>
  </div>
  <div float-right
       class="col-3">
    <img [src]="recipe.imagePath"
         alt="{{ recipe.name }}"
         class="rounded image-fluid"
         style="width: 50px;">
  </div>
</a>
