<div class="row">
  <div class="col-12"><button class="btn btn-primary">New recipe</button></div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
        <a href="#" class="d-lg-flex text-dark list-group-item" *ngFor="let recipe of recipes">
          <div class="col-9" float-left>
            <h4 class="mb-1 list-item-heading"> {{recipe.name}} </h4>
            <p class="list-item-descriptinon mb-1"> {{recipe.description}} </p>
          </div>
          <div float-right class="col-3">
            <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="rounded image-fluid" style="width: 50px;">
          </div>
        </a>
    </ul>
  </div>
</div>
<app-recipe-item></app-recipe-item>
