<div class="row">
  <div class="col-12">
    <img [src]="detailRecipe.imagePath"
         alt=""
         class="image-fluid">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ detailRecipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div appDropdown
         class="nav-item dropdown my-2 my-lg-0">
      <button class="btn btn-primary dropdown-toggle"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        Manage recipe
      </button>
      <div class="dropdown-menu"
           aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item"
           (click)="AddIngredients()">Add ingredient To shop list</a>
        <a class="dropdown-item"
           style="cursor: pointer;"
           (click)="onEdit()">edit recipe</a>
        <a class="dropdown-item"
           style="cursor: pointer;">delete recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{ detailRecipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-12">
    ingredients
    <p class="col-12 mr-1"
       *ngFor="let ingredient of detailRecipe.ingredients">
      {{ ingredient.name }} - ({{ ingredient.amount }})
    </p>
  </div>
</div>
