<div class="container">
  <div class="row">
    <form [formGroup]="editForm"
          class="mb-2 col-12"
          (ngSubmit)="SaveForm()">
      <div class="row">
        <label class="col-12"
               for="name"> name
          <input type="text"
                 id="name"
                 formControlName="name"
                 class="form-control">
        </label>
      </div>
      <div class="row">
        <label class="col-12"
               for="imagePath"> ImagePath
          <input type="text"
                 id="imagePath"
                 formControlName="imagePath"
                 class="form-control"
                 #imagepath>
        </label>
      </div>
      <div class="row">
        <img [src]="imagepath.value"
             class="img-fluid">
      </div>
      <div class="row">
        <label class="col-12"
               for="description"> description
          <textarea formControlName="description"
                    id="description"
                    cols="30"
                    rows="10"
                    class="d-block w-100">
          </textarea>
        </label>
      </div>
      <div class="row flex-column"
           formArrayName="ingredients">

        <div class="col-12">
          <label>Ingredients:</label>
          <button class="btn btn-outline-primary my-2"
                  type="button"
                  *ngIf="getIngredArray().length === 0"
                  (click)="AddIngredient()">Add Ingredient</button>
          <div class="form-group d-flex"
               *ngFor="let arrayGrp of getIngredArray(); let i=index"
               [formGroupName]="i">
            <div class="col-5">
              <label class="w-100"
                     for="ingredientName"> ingredientName:
                <input class="d-block w-100"
                       type="text"
                       id="ingredientName"
                       formControlName="name">
              </label>
            </div>
            <div class="col-5">
              <label class="w-100"
                     for="ingredientAmount"> ingredientName:
                <input class="d-block w-100"
                       type="number"
                       id="ingredientAmount"
                       formControlName="amount">
              </label>
            </div>
            <div class="col-2 d-flex justify-content-center">
              <button type="button"
                      class="btn btn-danger my-3"
                      (click)="deleteIngredient(i)">X</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="btn-group col-12">
          <button [disabled]="!editForm.valid"
                  class="btn btn-success mr-5">Save</button>
          <button class="btn btn-danger"
                  type="button"
                  (click)="CancelForm()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
