<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>
<app-property-binding></app-property-binding>
<app-directives></app-directives>

<hr>
<h1>This is Data Communication components server and cockpit.</h1>
<app-cockpit (addServer)="OnAddServer($event)"
             (bpAdded)="OnAddBluePrint($event)"></app-cockpit>
<app-server [srvElement]="server"
            *ngFor="let server of server;let i=index">
    <p [ngStyle]="{color: (server.type === 'Server') ? 'Blue' : 'Red'}">{{server.content}}</p>
</app-server>

<hr>
<h3>This is Component Assignment Section</h3>
<app-game-control (startGame)="startGame($event)"></app-game-control>
<div class="container">
    <div class="row">
        <div class="col-12 p-2">
            <ng-container *ngFor="let number of numbers; let odd = odd">
                <app-odd-component *ngIf="odd">
                    <p [style.color]="'red'">Odd- {{number}}</p>
                </app-odd-component>
                <app-even-component *ngIf="!odd">
                    <p [style.color]="'blue'">Even- {{number}}</p>
                </app-even-component>
            </ng-container>
        </div>
    </div>
</div>

<hr>
<h3>
    Custome Directive Section
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p [appHighlight]="'transparent'"
                   [highlightColor]="'green'">
                    This is cutome directive showing listener and host binding property
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p *appUnlessDirective="showPara">this is custome structural directive</p>
            </div>
        </div>
    </div>
</h3>

<hr>
<h3>
    This is component showing usage of service
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-service-component></app-service-component>
            </div>
        </div>
    </div>
</h3>
<h3>
    This is component showing usage of service Assignment
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-services-assignment></app-services-assignment>
            </div>
        </div>
    </div>
</h3>
<h3>
    Template Driven Form
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-template-driven-form></app-template-driven-form>
            </div>
        </div>
    </div>
</h3>
