:host {
    display: flex;
    align-items: center;
} /* this is for giving css to main component */

h3 {
    color: #89cc26;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

h3::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjODljYzI2IiBkPSJNMTIgMmM1LjUxNCAwIDEwIDQuNDg2IDEwIDEwcy00LjQ4NiAxMC0xMCAxMC0xMC00LjQ4Ni0xMC0xMCA0LjQ4Ni0xMCAxMC0xMHptMC0yYy02LjYyNyAwLTEyIDUuMzczLTEyIDEyczUuMzczIDEyIDEyIDEyIDEyLTUuMzczIDEyLTEyLTUuMzczLTEyLTEyLTEyem02LjI1IDguODkxbC0xLjQyMS0xLjQwOS02LjEwNSA2LjIxOC0zLjA3OC0yLjkzNy0xLjM5NiAxLjQzNiA0LjUgNC4zMTkgNy41LTcuNjI3eiIvPjwvc3ZnPg==') no-repeat center;
    /* background-image: url('./../../assets/check-mark.png') */
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    border-width: 0;
    border-radius: 12px;
    background-color: #89cc26;
    color: #fff;
    padding: 5px;
    width: 70px;
    height: 36px;
    outline: none;
}
