<div class="row">
  <div class="col-12">
    <form #form="ngForm"
          (ngSubmit)="OnSubmit()">
      <div class="row">
        <div class="col-5">
          <div class="form-group">
            <label for="name"
                   class="d-block">Name:
              <input type="text"
                     name="ingredientName"
                     id="name"
                     class="form-control"
                     ngModel
                     #ingredientName="ngModel"
                     required>
            </label>
            <p class="errors"
               *ngIf="ingredientName.touched && ingredientName.errors?.required"> ingredient Name is required</p>
          </div>
        </div>
        <div class="col-7">
          <div class="form-group">
            <label for="amount"
                   class="d-block">Amount:
              <input type="number"
                     name="ingredientAmount"
                     id="amount"
                     class="form-control"
                     ngModel
                     #ingredientAmount="ngModel"
                     required>
            </label>
            <p class="errors"
               *ngIf="ingredientAmount.touched && ingredientAmount.errors?.required"> ingredient amount is required</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button [disabled]="!form.valid"
                  class="btn btn-success mr-5"
                  type="submit">{{ editMode ? 'Update' : 'Add'}}</button>
          <button class="btn btn-danger mr-5"
                  *ngIf="editMode"
                  type="button"
                  (click)="DeleteIngredient()">Delete</button>
          <button class="btn btn-primary mr-5"
                  type="button"
                  (click)="ClearForm()">clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
