<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h3>
        Name of app is : {{ appName | async}}
      </h3>
      <hr>
      <input type="text"
             #serverName>
      <button class="btn btn-primary"
              (click)="onAddServer(serverName.value)">Add Server</button>
      <hr>

      <div class="col-12">
        <button class="btn btn-primary"
                (click)="onGetServers()">Get Server</button>
        <button class="btn btn-primary"
                (click)="onPostServers()">Save Server</button>
      </div>
      <ul class="list-group"
          *ngFor="let server of servers">
        <li class="list-group-item">{{ server.name }} (ID: {{ server.id }})</li>
      </ul>
    </div>
  </div>
</div>
