:host {
    display: flex;
    align-items: center;
}

h3 {
    color: #c2272d;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

h3::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjYzIyNzJkIiBkPSJNMTIgMWwtMTIgMjJoMjRsLTEyLTIyem0tMSA4aDJ2N2gtMnYtN3ptMSAxMS4yNWMtLjY5IDAtMS4yNS0uNTYtMS4yNS0xLjI1cy41Ni0xLjI1IDEuMjUtMS4yNSAxLjI1LjU2IDEuMjUgMS4yNS0uNTYgMS4yNS0xLjI1IDEuMjV6Ii8+PC9zdmc+') no-repeat center;
    /* background-image: url('./../../assets/warning.png'); */
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    border-width: 0;
    border-radius: 8px;
    background-color: #c2272d;
    color: #fff;
    padding: 5px;
    width: 70px;
    height: 36px;
    outline: none;
}


