.username-label,
.username-text,
.username-label input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 12px;
    color: #333;
    text-transform: capitalize;
}

.username-label input {
    border-radius: 8px;
    border: 1px solid #333;
    height: 36px;
    padding: 5px;
    box-sizing: border-box;
}

.username-label input:focus {
    border: 1px dashed #333;
    outline: none;
}

.username-clear {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    width: auto;
    padding: 10px;
    height: 36px;
    background: #0382ac;
    color: #fff;
    margin-left: 10px;
    border-width: 0;
    border-radius: 12px;
    white-space: nowrap;
}

.username-clear:hover {
    opacity: 0.9;
    background: #008cba;
}
