<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item"
                    role="presentation">
                    <a class="nav-link"
                       [routerLinkActiveOptions]="{ exact: true }"
                       routerLinkActive="active"
                       routerLink="/">Demo1</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
